// Place all the styles related to the pets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('lost_ugly_dog.jpg');
}

.formContainer {
  width: 400px;
  padding: 30px;
  margin: 80px auto 0;
  background-color: #EFEFEF;
  text-align: left;
  border-radius: 15px;
  opacity: .95;
  .titleContainer {
    margin: 0 auto;
    text-align: center;
    .questionMark {
      vertical-align: initial;
    }
    .formTitle {
      display: inline;
    }
  }
  label {
    margin-bottom: .1rem;
  }
  .form-control {
    margin-bottom: .6rem;
  }
}


#new_pet {
  margin: 20px 20px 0;
}

.submitButton {
  margin: 15px auto 0;
  display: block;
  background-color: #2E2F30;
  color: #EFEFEF;
  &:hover {
    background-color: darkblue;
  }
}