// Place all the styles related to the pets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #2E2F30;
}

.formContainer {
  width: 400px;
  padding: 30px;
  margin: 100px auto 0;
  background-color: #EFEFEF;
  text-align: left;
}

#new_pet {
  margin: 20px;
}

.form-control {
  margin-bottom: .6rem;
}

.submitButton {
  margin: 15px auto;
  display: block;
  background-color: #2E2F30;
  color: #EFEFEF;
  &:hover {
    background-color: darkblue;
  }
}